div {
    margin-top:60px;
}

.main {
    height: 100px;
    line-height: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    letter-spacing: .2em;
}

.container {
    margin-right: 5px;
}

.delete {
    border-right: 2px solid black;
    /*step-end是动画过渡效果，设置step-end代表不过渡*/
    animation: blingbling 1s step-end infinite;
}

@keyframes blingbling {
    from,to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}
